
// Button shadow

.register-shadow{
  background-color: $background-color;
  border-radius: 0px;
  box-shadow: inset 0 16px 14px -21px transparent, 0px 0px 13px 0 rgba(0,0,0,0.3), inset 5px 5px 7px 0px rgba(0,0,0,0.4);
  text-shadow:
      0 0 10px #64ffda,
      0 0 20px #3cbfb3,
      0 0 40px #2f948a,
      0 0 80px #00695c;
  color: #64ffda;
  font-size: 15px;
  filter: saturate(100%);
}

.login-shadow {
  background-color: $base-color;
  color: $color;
  box-shadow: inset 0 16px 14px -21px transparent, 0px 0px 13px 0 rgba(0, 0, 0, 0.3), inset -5px -5px 7px 0px rgba(0, 77, 64, 0.4);
}

// Close icon button in input field on Register page

.#{$prefix}input-wrap-el{
    .#{$prefix}trigger{
        margin-right: 8px;
    }
}

// Icon in input field

.register-icon-user{
.#{$prefix}label-el{
        &::before{
          @include register-icon('account_circle');
      }
    }
}


.register-icon-pass{
.#{$prefix}label-el{
        &::before{
          @include register-icon('lock');
      }
    }
}


.register-icon-email{
.#{$prefix}label-el{
        &::before{
          @include register-icon('email');
      }
    }
}


