.#{$prefix}body-el {
    .home-bg{
        width:100vw;
        height:100vh; background: url("slika.png") no-repeat fixed center;
        background-size: cover;
    }
}

.home-text {
    margin: 0px 10px;
    text-align: center;
}