$icon-name: ( account_circle, lock, email);
@mixin register-icon($icon-name) {
          content: $icon-name;
          font-family: 'Material Icons';
          position: absolute;
          bottom: 12px;
          right: 10px;
          font-size: 20px;
        }

