$field-vertical-spacing-big: dynamic(5px);

/**
 * @var {number/list}
 * Field label padding
 */
$field-label-padding: dynamic(4px 6px 12px 0);

/**
 * @var {number/list}
 * Field label padding in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$field-label-padding-big: dynamic(6px 6px 12px 0);


$field-label-font-size: dynamic(13px)!important;
$field-label-font-size-big: dynamic(14px)!important;

$textfield-invalid-input-underline-width: dynamic(1.5px);