/**
 * @class Ext.field.Text
 */

/**
 * @var {color}
 * Text Field input color
 */
$textfield-input-color: dynamic($base-highlight-color);


$textfield-focused-input-underline-color: dynamic(#18ffff);
/**
 * @var {number/list}
 * Text Field input padding
 */
$textfield-input-padding: dynamic(5px 6px);

/**
 * @var {number/list}
 * Text Field input padding in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$textfield-input-padding-big: dynamic(5px 6px);