$button-color: dynamic($accent-color-name);
$button-background-gradient:
$button-focused-background-color: dynamic($background-color);
$button-font-weight: dynamic($font-weight);

$button-border-ui: dynamic(true);
@mixin button-border-ui {
  @include button-ui(
    $ui: 'border',
    //$pressed-background-gradient: 'pink', 'glossy',
   /* $border-width: 1px,
    $border-color: $accent-color-name,
    $border-style: solid*/
  )
}


