// Button background gradient on Project page
.project-btn {
  height: 80px;
  width:calc(100% - 40px);
  margin: 0px 20px 20px 20px;
  border-radius: 10px;
  color: #fff;
  background: linear-gradient(-45deg, #23A6D5, #23D5AB, #009688, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  transition: 2s all ease-in-out;
       .#{prefix}big {
            border-radius: 40px;
            //width:calc(100% - 100px);
            //margin: 0px 50px 20px 50px;
        }
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}


