// Button shadow on login page

.login-header-shadow {
  background-color: $base-color;
  color: $color;
  box-shadow: inset 0 16px 14px -21px transparent, 0px 0px 13px 0 rgba(0, 0, 0, 0.3), inset 5px -5px 7px 0px rgba(0, 77, 64, 0.4);
}

.register-header-shadow {
  background-color: $background-color;
  border-radius: 0px;
  box-shadow: inset 0 16px 14px -21px transparent, 0px 0px 13px 0 rgba(0,0,0,0.3), inset -5px 5px 7px 0px rgba(0,0,0,0.4);
  text-shadow:
      0 0 10px #64ffda,
      0 0 20px #3cbfb3,
      0 0 40px #2f948a,
      0 0 80px #00695c;
  color: #64ffda;
  font-size: 15px;
  filter: saturate(100%);
}