//Logo on dash, project and task page

.logo{
  background: url("/packages/local/custom-theme/resources/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  color:transparent;
}

// Background Title of project on Dashboard page

.panel-title-bg {
    .#{$prefix}panelheader{
    background: $background-color;
    letter-spacing: 1px;
    }
}

// Background Title of project on Project page

#ext-panelheader-4 {
    background-color:$background-color;
}

// Logout icon on Dash and Project page

.md-icon-exit-to-app::before{
    color: $background-color;
}

//Datepicker icon in Project Edit on Project page

.x-datetrigger .x-icon-el:before {
    padding-bottom: 5px;
}


//Header background on Dashboard page
.dash-logo-bg{
      @include background-gradient($base-color, glossy);
      @include st-box-shadow(5px 5px 50px 4px $base-color inset);
}

// Fadein animation onload page

.fadein-onload-page{
  animation: fadein 1.3s;
  -moz-animation: fadein 1.3s; /* Firefox */
  -webkit-animation: fadein 1.3s; /* Safari and Chrome */
  -o-animation: fadein 1.3s; /* Opera */
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity:0;
  }
  to {
    opacity: 1;
  }
}